<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Busca</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/mp">Missing People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sp">Search Parties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://donadora.mx/campanas/iii-brigada-nacional-de-busqueda-de-desaparecid-s">Donate</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link" href="">Log In</a>
            </li>             --}}
          </ul>
        </div>
      </div>
</nav>