<h1>Start a Search Party Form</h1>
<br>

<fieldset>
  <div class="form-group">
    <label for="party-title">Title:</label>
    <input class="form-control" id="party-title" type="text" name="title">
  </div>

  <div class="form-group">
    <label for="party-location">Location:</label>
    <input class="form-control" id="part-location" type="text" name="location">
  </div>

  <div class="form-group">
    <label for="party-time">Time:</label>
    <input class="form-control" id="party-time" type="text" name="time">
  </div>

  <div class="form-group">
    <label for="party-uploadPicture">Upload Picture:</label>
    <input class="form-control" id="party-uploadPicture" type="text" name="uploadPicture" placeholder="link (you can use http://tinypic.com to make link)"value="{{party.uploadPicture}}"/>
  </div>

  <div class="form-group">
    <label for="party-details">Details on Disapperance:</label>
    <textarea class="form-control" id="party-details" name="details" rows="3"></textarea>
  </div>
</fieldset>
