<!-- views/cards-edit.handlebars -->

<form method="POST" action="/cards/{{card._id}}?_method=PUT">
  {{> cards-form}}
  
    <!-- BUTTON -->
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> 
</form>