<!-- views/cards-new.handlebars -->
<form method="POST" action="/cards">
    {{> cards-form}}

    <!-- BUTTON -->
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> 

</form>