<!-- views/cards-index.handlebars -->
<br>
<br>
<br>
<h1>¿Quiénes somos?</h1>

<img src="http://i68.tinypic.com/15dryc7.jpg" class="card-img-top" alt="missing person">

<br>
<br>

<p>Brigada Nacional de Búsqueda de Personas Desaparecidas

La Brigada Nacional de Búsqueda la conformamos familiares de personas desaparecidas que buscando a nuestros seres queridos nos encontramos y conjuntamos esfuerzos con el fin de fortalecer los procesos de búsqueda a nivel nacional. Iniciamos individualmente en la búsqueda de nuestros propios seres queridos, un proceso que nos ha llevado a desarrollar habilidades para la obtención de información y la búsqueda en campo de personas desaparecidas. Hemos confluido en la Brigada Nacional de Búsqueda para colectivizar nuestro conocimiento en esta materia y ponerlo a la disposición de otras familias de personas desaparecidas, intercambiando experiencias y conocimientos técnicos para poder fortalecer los procesos de consolidación de grupos de búsqueda locales.

¿Qué hacemos?

Hemos realizado dos búsquedas, ambas en el estado de Veracruz, en marzo y julio de 2016, en las cuales se localizaron restos humanos, muchos de ellos calcinados, mismos que están siendo aún procesados por las autoridades correspondientes para dar con su identidad y poder ser devueltos a sus familias de manera digna.

La III Brigada Nacional de Búsqueda de Personas Desaparecidas se llevará a cabo del 20 de enero al 4 de febrero del 2017en el estado de Sinaloa.

¿Quiénes somos?

 Somos buscadores y buscadoras de personas desaparecidas de estados como Guerrero, Sinaloa, Coahuila, Chihuahua, Morelos y Veracruz, entre otros, que tras años de esperar resultados por parte de las instituciones de justicia, decidimos iniciar por nuestra propia cuenta y con nuestras propias manos la búsqueda de nuestros seres queridos y las demás personas que se encuentran desaparecidas a nivel nacional. En nuestra labor nos acompañan integrantes de organizaciones de la sociedad civil dedicadas a la defensa y promoción de los derechos humanos.</p>