<!-- views/parties-new.handlebars -->
<form method="POST" action="/parties">
    {{> parties-form}}

    <!-- BUTTON -->
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> 

</form>