<!-- views/parties-edit.handlebars -->

<form method="POST" action="/parties/{{party._id}}?_method=PUT">
    {{> parties-form}}
  
    <!-- BUTTON -->
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> 
</form>