<br>
<br>
<br>

<!-- BUTTON -->
<div class="form-group">
    <a href="/parties/new">
    <button type="submit" class="btn btn-primary">Create a Search Party</button>
    </a>
</div>

<br>
<br>

{{#each cards}}
  <h2><a href="/parties/{{this._id}}">{{this.title}}</a></h2>
  <small>{{this.location}}</small>
{{/each}}

