<br>
<br>
<br>

<!-- BUTTON -->
<div class="form-group float-right">
    <a href="/parties/new">
    <button type="submit" class="btn btn-primary">Create a Search Party</button>
    </a>
</div>

<br>
<br>

{{#each parties}}

  <div class="container">
    <div class="row">
      <div class="col-4 mt-4">
        <div class="card" style="max-width:270px;">
          <img src="{{this.uploadPicture}}" class="card-img-top" alt="location">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.details}}</p>
              <a href="/parties/{{this._id}}" class="btn btn-primary">See More</a>
            </div>
        </div>
      </div>
    </div>
  </div>

{{/each}}
