<br>
<br>
<br>

<!-- BUTTON -->
<div class="form-group">
    <button type="submit" class="btn btn-primary"><a href=""></a>Create Search Party</button>
</div>
<br>
<br>

{{!-- {{#each cards}}
  <h2><a href="/cards/{{this._id}}">{{this.name}}</a></h2>
  <small>{{this.missingFrom}}</small>
{{/each}} --}}

