<br>
<br>
<br>

<!-- BUTTON -->
<div class="form-group float-right">
    <a href="/parties/new">
    <button type="submit" class="btn btn-primary">Create a Search Party</button>
    </a>
</div>

<br>
<br>

{{#each parties}}

  <h2><a href="/parties/{{party._id}}">{{party.title}}</a></h2>
  <small>{{this.location}}</small>

{{/each}}
